---
import Layout from '../layouts/Layout.astro';
import { PricingComponent } from '../components/home';

import '../styles.css';
---

<Layout title="Pricing | Acme Note." description="Know the pricing for Acme Note.">
    <h1 class="text-center font-bold text-2xl md:text-4xl text-white mt-10">Pricing</h1>
    <PricingComponent />
</Layout>